*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


:root{
    --bg-main-color: #0A0A0B;
    --text-main-color: #ffffff;
    --btn-bg-color: #306AD9;
    --btn-bg-color-hover: #4177DC;
    --btn-bg-color-active: #608CE2;
    --icon-color: #BABEC4;
}

body{
    font-family: 'Exo regular';
    color: var(--text-main-color);
}


